@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap');

:root {
    /* light */
    --bg: #fbf6ef;
    --text-col: #3a3a3a;
    --highlight: #c05c0e;
    --hp-button: #eb971c;
    --img-circle-col: rgba(85, 55, 55, 0.2);
    --footer-col: #748484;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;

    color: var(--text-col);
    background-color: var(--bg);

    height: 100vh;
    display: grid;
    grid-template-rows: 10vh auto 30px;
}

/* Header */

header {
    width: 100%;
    height: 10vh;
}

/* headings and logo */

h1, h2 {
    font-weight: 900;
    letter-spacing: 1px;
    color: var(--text-col);
}

#logo {
    float: left;
    font-weight: 900;
    font-size: 110%;
    margin-left: 35px;
    text-transform: capitalize;
}

.highlight {
    color: var(--highlight);
}

#logo img {
    width: 25px;
    height: auto;
    vertical-align: middle;
    margin-bottom: 5px;
}

/* navigation links */

#menu {
    font-size: 90%;
    letter-spacing: 3px;
    margin-right: 5px;
}

#menu, #logo {
    line-height: 75px;
}

#menu ul{
    float: right;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    color: var(--highlight);
}

#menu .active {
    color: var(--highlight);
}

/* Dark theme button */

.switch input {
    position: absolute;
    opacity: 0;
  }
  
.switch {
    display: inline-block;
    font-size: 20px; /* 1 */
    height: 1em;
    width: 2em;
    background: #BDB9A6;
    border-radius: 1em;
}
  
.switch div {
    height: 1em;
    width: 1em;
    border-radius: 1em;
    background: #FFF;
    box-shadow: 0 0.1em 0.3em rgba(0,0,0,0.3);
    -webkit-transition: all 300ms;
       -moz-transition: all 300ms;
            transition: all 300ms;
}
  
.switch input:checked + div {
    -webkit-transform: translate3d(100%, 0, 0);
       -moz-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
}
  

/* Footer */

footer {
    position:absolute;
    bottom:0;
    width: 100%;
    height: 30px;   /* Height of the footer */
    background: inherit;
 }

 footer p {
     color: var(--footer-col);
     font-size: 80%;
     float: right;
     margin-right: 20px;
 }

/* Home Page Section */

/* Welcome */
section {
    height: 100%;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#home-page h1 {
    font-size: 300%;
}

#home-page p {
    font-size: 150%;
}

/* Carousel */

#carousel {
    height: 100%;
    overflow: scroll;
    scroll-snap-type: y mandatory;
    overflow-y: auto;
}

#carousel > div {
    min-height: 100%;
    width: 100%;
    clear: both;

    scroll-snap-align: start;
}

#carousel p {
    margin-top: 5px;
}

.carousel-button {
    margin: 20px 0;
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;

    background: var(--hp-button);
    border: 1px solid var(--hp-button);
    border-radius: 6px;
    color: var(--bg);

    text-decoration: none;
    font-size: 20px;
    font-weight: 900;
    line-height: 16px;
    text-align: center;
    text-transform: none;
    letter-spacing: 1px;
    
    touch-action: manipulation;
    vertical-align: middle;
}

.carousel-button:hover, .carousel-button:active {
  background-color: initial;
  background-position: 0 0;
  color: var(--hp-button);
}

.carousel-button:active {
  opacity: .5;
}

.carousel-left {
    width: 60%;
    float: left;
    margin: 10% 0 0 5%;
}

.carousel-right {
    width: 60%;
    float: right;
    text-align: right;
    margin: 10% 5% 0 0;
}

/* Carousel Media */

#carousel-1 {
    background: url("../images/home_page.png") no-repeat;
    background-position: bottom right;
    background-size: 60%;
}

#carousel-2 {
    background: url("../images/home_page_macro.png") no-repeat bottom;
    background-position: 10% bottom;
    background-size: 40%;
}

#carousel-3 {
    background: url("../images/home_page_micro.png") no-repeat bottom;
    background-position: right bottom;
    background-size: 50%;
}

/* About page */

#about-page {
    height: 100%;
    width: 100%;

    overflow: hidden;
    text-align: center;

    position: relative;
}

#about-page h1 {
    font-size: 300%;
}

#about-page p {
    margin-top: 5%;
    font-size: 150%;
}

.carousel-center {
    transform: translateX(0%) translateY(25vh);
    margin: 0 25% 0 25%;
}

/* The Team */

/* Circle Container and media */

.circle-container {
    display: inline-block;
    width: 200px;
    height: 200px;
    padding: 10px;
    border-style: dotted;
    border-color: var(--img-circle-col);
    border-width: 1px;
    border-radius: 50%;
    margin: 5% 5%;
}

#team-member h2 {
    margin-top: 15%;
    font-size: 130%;
}

#team-member p {
    margin-top: 5%;
    font-size: 130%;
    font-style: italic;
}

/* The team media */

#lorenzo {
    background: url('../images/lorenzo.jpg') no-repeat center 30%;
    background-size: 100%;
    height: 100%;
    border-radius: 50%;
}

#enrico {
    background: url('../images/enrico.jpeg') no-repeat center 10%;
    background-size: 150%;
    height: 100%;
    border-radius: 50%;
}

/* Website we Love */

#website-link {
    width: 100%;
    margin: 5% 0;
}

.website-button {
    width: 200px;
    font-size: 20px;
    font-weight: 900;
    color: var(--bg);
    letter-spacing: 1px;
    text-decoration: none;

    display: inline-block;

    padding: 20px 20px 20px;
    margin: 5%;
    outline: 0;
    border: 1px solid var(--text-col);
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    touch-action: manipulation;
  }
  
  .website-button:after {
    content: "";
    background-color: var(--hp-button);
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
  }
  
  .website-button:hover:after {
    top: 0px;
    left: 0px;
  }

/* Home Page for Theory Sections */

#theory-home-page {
    overflow: scroll;
}

.theory-hp {
    margin: auto 15% auto 15%;
    text-align: center;
}

.theory-hp h1 {
    font-size: 300%;
    margin-top: 2%;
}

.theory-hp  p {
    margin-top: 5%;
    font-size: 120%;
    text-align: justify;
}

hr {
    border-top: 0.9px dashed var(--highlight);
    margin: 1% 10%;
}

#theory-sections {
    margin: 0 15% auto 15%;
    text-align: center;
}

.theory-button {
    width: 35%;
    min-width: 300px;
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
    min-height: 40px;
    outline: 0;
    padding: 45px 70px;
    margin: 3% 5%;

    background: var(--bg);
    border: 3px solid var(--highlight);
    border-radius: 3px;
    color: var(--highlight);

    text-decoration: none;
    font-size: 150%;
    font-weight: 900;
    line-height: 16px;
    text-align: center;
    text-transform: none;
    letter-spacing: 1px;
    
    touch-action: manipulation;
    vertical-align: middle;
}

.theory-button:hover, .theory-button:active {
  background-color: var(--highlight);
  background-position: 0 0;
  color: var(--bg);
}

.theory-button:active {
  opacity: .5;
}

/* Theory Modal */

.modal-out{
    margin-top: 2%;
    text-align: left;
}

.modal-button {
    color: var(--highlight);
    font-size: 80%;
    text-transform: uppercase;
    text-decoration: none;
}

.modal-window {
    position: fixed;
    background-color: var(--text-col);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
}

.modal-window:target {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

.modal-window > div {
    width: 60%;
    max-height: 75%;
    overflow: scroll;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    background: var(--bg);
}

.modal-window h1 {
    font-size: 220%;
    text-align: left;
    margin: 3% 8%;
}

.modal-window h2 {
    font-size: 180%;
    margin: 0 8%;
    text-align: left;
    color: var(--highlight);
}

.modal-window p {
    font-size: 110%;
    text-align: left;
    margin: 1% 8% 3% 8%;
    text-align: justify;
}

.modal-close {
    color: #748484;
    line-height: 50px;
    font-size: 150%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;
}

.modal-close:hover {
    color: var(--text-col);
}

/* Theory Chapters */

#chapeter {
    flex-direction: row;
}

#back {
    width: 100%;
}

#back a {
    position: fixed;
    margin: 0 1%;
    padding-left: 2%;
    color: var(--text-col);
    text-decoration: none;
    font-size: 80%;
}

/* Link to other chapters */

#sidebar {
    margin-top: 2%;
    padding: 0;
    width: 17%;
    position: fixed;
    flex: 0 0 17%;
    height: 75%;
    overflow: auto;
    border-right: 0.8px dashed var(--highlight);
    display: inline-block;
}

#sidebar h3 {
    margin: 3% 15% 5% 15%;
    display: block;
    text-transform: uppercase;
}

#sidebar a {
    margin: 5% 5%;
    display: block;
    color: var(--text-col);
    text-decoration: none;
    text-transform: capitalize;
    text-align: center;  
    padding: 10px;
}

#sidebar a:hover {
    color: var(--bg);
    border-radius: 3px;
    background-color: var(--highlight);
}

#sidebar .active-chapter {
    color: var(--bg);
    border-radius: 3px;
    background-color: var(--highlight);
}

#content {
    float: right;
    padding: 0 5%;
    height: 100%;
    max-width: 70%;
    overflow: scroll;
}

/* Chapter */

#content h1 {
    font-size: 180%;
    font-weight: 900;
    text-transform: uppercase;
    margin: 3% 0 2% 0;
}

#content h2 {
    font-size: 130%;
    text-transform: capitalize;
    color: var(--highlight);
    margin: 3% 0 1% 0;

}

#content h3 {
    font-size: 120%;
    text-transform: capitalize;
    color: var(--hp-button);
    margin: 1% 0 1% 0;

}

#content p {
    font-size: 100%;
    text-align: justify;
    margin: 0.5% 0 2.5% 0;
}

.next {
    font-size: 16px;
}

#content li {
    list-style-type: none; 
    text-align: justify;
    margin-bottom: 2%;
}

#content ul > li:before {   
    font-family: 'FontAwesome';
    content: '\f1b2';
    margin:0 1% 0 -2.5%;
    color: var(--highlight);
}

#content ol > li {   
    margin: 2%;
}