@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap');

:root {
    /* light */
    --bg: #fbf6ef;
    --text-col: #3a3a3a;
    --highlight: #c05c0e;
    --hp-button: #eb971c;
    --img-circle-col: rgba(85, 55, 55, 0.2);
    --footer-col: #748484;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;

    color: var(--text-col);
    background-color: var(--bg);

    height: 100vh;
    display: grid;
    grid-template-rows: 7vh auto 30px;
}

/* Header */

header {
    width: 100%;
    height: 7vh;
}

/* headings and logo */

h1, h2 {
    font-weight: 900;
    letter-spacing: 1px;
    color: var(--text-col);
}

#logo {
    float: left;
    font-weight: 900;
    font-size: 110%;
    margin-left: 35px;
    text-transform: capitalize;
}

.highlight {
    color: var(--highlight);
}

#logo img {
    width: 25px;
    height: auto;
    vertical-align: middle;
    margin-bottom: 5px;
}

/* navigation links */

#menu {
    font-size: 80%;
    letter-spacing: 3px;
    margin-right: 5px;
}

#menu, #logo {
    line-height: 75px;
}

#menu ul{
    float: right;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
}

.phone-menu{
    visibility: hidden;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    color: var(--highlight);
}

#menu .active {
    color: var(--highlight);
} 

/* Footer */

footer {
    position:absolute;
    bottom:0;
    width: 100%;
    height: 30px;   /* Height of the footer */
    background: inherit;
 }

 footer p {
     color: var(--footer-col);
     font-size: 80%;
     float: right;
     margin-right: 20px;
 }

/* Home Page Section */

/* Welcome */
main {
    height: 100%;
    width: 100%;
    margin-top: 3vh;
    overflow: hidden;

    position: relative;
}

#home-page h2 {
    font-size: 3.5vw;
}

#home-page p {
    font-size: 1.5vw;
}

/* Carousel */

#carousel {
    height: 100%;
    overflow: scroll;
    scroll-snap-type: y mandatory;
    overflow-y: auto;
}

#carousel > article {
    min-height: 100%;
    width: 100%;
    clear: both;

    scroll-snap-align: start;
}

#carousel p {
    margin-top: 5px;
}

.carousel-button {
    margin: 20px 0;
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
    min-height: 40px;
    outline: 0;
    padding: 2vh 3.5vh;

    background: var(--hp-button);
    border: 1px solid var(--hp-button);
    border-radius: 6px;
    color: var(--bg);

    text-decoration: none;
    font-size: 20px;
    font-weight: 900;
    line-height: 16px;
    text-align: center;
    text-transform: none;
    letter-spacing: 1px;
    
    touch-action: manipulation;
    vertical-align: middle;
}

.carousel-button:hover, .carousel-button:active {
  background-color: initial;
  background-position: 0 0;
  color: var(--hp-button);
}

.carousel-button:active {
  opacity: .5;
}

.carousel-left {
    width: 50%;
    float: left;
    margin: 10% 0 0 5%;
}

.carousel-right {
    width: 60%;
    float: right;
    text-align: right;
    margin: 10% 5% 0 0;
}

/* Carousel Media */

#carousel-1 {
    background: url("../images/home_page.png") no-repeat;
    background-position: bottom right;
    background-size: 60%;
}

#carousel-2 {
    background: url("../images/home_page_macro.png") no-repeat bottom;
    background-position: 10% bottom;
    background-size: 40%;
}

#carousel-3 {
    background: url("../images/home_page_micro.png") no-repeat bottom;
    background-position: right bottom;
    background-size: 50%;
}

/* About page */

#about-page {
    height: 100%;
    width: 100%;

    overflow: hidden;
    text-align: center;

    position: relative;
}

#about-page h2 {
    font-size: 3.5vw;
}

#about-page p {
    margin-top: 5%;
    font-size: 1.4vw;
}

.carousel-center {
    transform: translateX(0%) translateY(20vh);
    margin: 0 25% 0 25%;
}

/* About Us */

#about-us p {
    text-align: justify;
}

/* The Team */

/* Circle Container and media */

.circle-container {
    display: inline-block;
    width: 200px;
    height: 200px;
    padding: 10px;
    border-style: dotted;
    border-color: var(--img-circle-col);
    border-width: 1px;
    border-radius: 50%;
    margin: 5% 5%;
}

#team-member h3 {
    margin-top: 15%;
    font-size: 130%;
}

#team-member p {
    margin-top: 5%;
    font-size: 130%;
    font-style: italic;
}

/* The team media */

#lorenzo {
    background: url('../images/lorenzo.jpg') no-repeat center 30%;
    background-size: 100%;
    height: 100%;
    border-radius: 50%;
}

#enrico {
    background: url('../images/enrico.jpeg') no-repeat center 10%;
    background-size: 150%;
    height: 100%;
    border-radius: 50%;
}

/* Website we Love */

#website-link {
    width: 100%;
    margin: 5% 0;
}

.website-button {
    width: 180px;
    font-size: 20px;
    font-weight: 900;
    color: var(--bg);
    letter-spacing: 1px;
    text-decoration: none;

    display: inline-block;

    padding: 3vh 2vw;
    margin: 3%;
    outline: 0;
    border: 1px solid var(--text-col);
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    touch-action: manipulation;
  }
  
  .website-button:after {
    content: "";
    background-color: var(--hp-button);
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
  }
  
  .website-button:hover:after {
    top: 0px;
    left: 0px;
  }

/* Home Page for Theory Sections */

#theory-home-page {
    overflow: scroll;
}

.theory-hp {
    margin: auto 15% auto 15%;
    text-align: center;
}

.theory-hp h2 {
    font-size: 300%;
    margin: 2% 0;
}

.theory-hp  p {
    margin-top: 0;
    font-size: 120%;
    text-align: justify;
}

hr {
    border-top: 0.9px dashed var(--highlight);
    margin: 1% 0 3% 0;
}

.modal-phone {
    display: none;
}

#theory-sections {
    margin: 0 15% auto 15%;
    text-align: center;
}

.theory-button {
    width: 35%;
    min-width: 300px;
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
    min-height: 40px;
    outline: 0;
    padding: 45px 7px;
    margin: 3% 5%;

    background: var(--bg);
    border: 3px solid var(--highlight);
    border-radius: 3px;
    color: var(--highlight);

    text-decoration: none;
    font-size: 150%;
    font-weight: 900;
    line-height: 16px;
    text-align: center;
    text-transform: none;
    letter-spacing: 1px;
    
    touch-action: manipulation;
    vertical-align: middle;
}

.theory-button:hover, .theory-button:active {
  background-color: var(--highlight);
  background-position: 0 0;
  color: var(--bg);
}

.theory-button:active {
  opacity: .5;
}

/* Theory Modal */

.modal-out{
    margin-top: 3%;
    text-align: left;
}

.modal-button {
    color: var(--highlight);
    font-size: 80%;
    text-transform: uppercase;
    text-decoration: none;
}

.modal-window {
    position: fixed;
    background-color: var(--text-col);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
    pointer-events: auto;
}

.modal-window:target {
    visibility: visible;
    opacity: 1;
}

.modal-window > div {
    width: 60%;
    max-height: 75%;
    overflow: scroll;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    background: var(--bg);
}

.modal-window h2 {
    font-size: 220%;
    text-align: left;
    margin: 3% 8%;
}

.modal-window h3 {
    font-size: 180%;
    margin: 0 8%;
    text-align: left;
    color: var(--highlight);
}

.modal-window p {
    font-size: 110%;
    text-align: left;
    margin: 1% 8% 3% 8%;
    text-align: justify;
}

.modal-close {
    color: #748484;
    line-height: 50px;
    font-size: 150%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;
}

.modal-close:hover {
    color: var(--text-col);
}

/* Theory Chapters */

#chapters {
    width: 100%;
    flex-direction: row;
}

.reference {
    color: var(--highlight);
}

/* Link to other sections */

#sidebar {
    margin-top: 2%;
    padding: 0;
    width: 17%;
    position: fixed;
    flex: 0 0 17%;
    height: 75%;
    overflow: auto;
    border-right: 0.8px dashed var(--highlight);
    display: inline-block;
}

#sidebar h2 {
    margin: 3% 15% 5% 15%;
    font-size: 100%;
    display: block;
    text-transform: uppercase;
}

#sidebar a {
    margin: 5% 5%;
    display: block;
    color: var(--text-col);
    text-decoration: none;
    text-transform: capitalize;
    text-align: center;  
    padding: 10px;
}

#sidebar a:hover {
    color: var(--bg);
    border-radius: 3px;
    background-color: var(--highlight);
}

#sidebar .active-chapter {
    color: var(--bg);
    border-radius: 3px;
    background-color: var(--highlight);
}

/* Chapter */

#content {
    position: relative;
    float: right;
    padding: 0 5%;
    height: 100%;
    max-width: 70%;
    overflow: scroll;
}

#content h2 {
    font-size: 180%;
    font-weight: 900;
    text-transform: uppercase;
    margin: 3% 0 2% 0;
}

#content h3 {
    font-size: 130%;
    text-transform: capitalize;
    color: var(--highlight);
    margin: 3% 0 1% 0;

}

#content p {
    font-size: 100%;
    text-align: justify;
    margin: 0.5% 0 2.5% 0;
}

#content li {
    list-style-type: none; 
    text-align: justify;
    margin-bottom: 2%;
}

#content ul > li:before {   
    font-family: 'FontAwesome';
    content: '\f1b2';
    margin:0 1% 0 -2.5%;
    color: var(--highlight);
}

#content ol > li {   
    margin: 2%;
}

table {
    margin: 8% 20vw 8% 20vw;
    text-align: center;
    width: 30vw;
}

th, td {
    padding: 10px;
    font-size: 130%;
    border: 1px solid var(--footer-col);
}

th, .first {
    font-weight: 900;
}

#content > .carousel-button {
    margin: 10vh 0 10vh 25vw;
}

#chapter-hamburger {
    visibility: hidden;
}

/* For medium screens size from 950 px wide and down */

@media screen and (max-width: 950px) {
    
    /* Header */
    
    header {
        height: 5vh;
    }

    /* navigation links */
    
    #menu li {
        margin-top: 0;
        font-size: 90%;
    }

    /* Home Page Section */
    
    /* Welcome */
    
    #home-page h2 {
        font-size: 5.5vw;
        text-align: center;
        margin: 0 10%;
    }
    
    #home-page p {
        visibility: hidden;
        margin: 0;
    }
    
    /* Carousel */
    
    #carousel p {
        margin-top: 0;
    }
    
    .carousel-left {
        width: 100%;
        text-align: center;
        transform: translateY(2vh);
        margin: 10vh 0;
    }
    
    .carousel-right {
        width: 100%;
        text-align: center;
        transform: translateY(50vh);
        margin: 10vh 0;
    }

    .carousel-button{
        padding: 2vh 3.5vh;
        font-size: 3.5vw;
    }
    
    /* Carousel Media */

    #carousel-1 {
        background-position: 50% 80%;
        background-size: 90%;
    }
    
    #carousel-2 {
        background-position: 50% 10%;
        background-size: 70%;
    }
    
    #carousel-3 {
        background-position: 50% 75%;
        background-size: 80%;
    }

    /* About */

    #about-page h2 {
        font-size: 6vw;
    }
    
    #about-page p {
        margin-top: 5%;
        font-size: 3vw;
    }

    /* About Us */

    #about-us > .carousel-center {
        transform: translateY(10vh);
    }

    /* The Team */

    /* Circle Container and media */

    .circle-container {
        margin: 5vh 25vw;
    }

    #team-member h3 {
        font-size: 3.5vw;
    }

    /* Home Page for Theory Sections */

    .modal-computer {
        display: none;
    }

    .modal-phone {
        display: block;
        visibility: visible;
        margin: 3vh 0;
    }

    #theory-sections{
        padding: 5vh 0;
    }

    hr {
        margin: 1% 0;
    }

    .theory-button {
        padding: 45px 5%;
    }

    /* Theory Modal */

    .modal-window h2 {
        font-size: 180%;
    }
    
    .modal-window h3 {
        font-size: 130%;
        margin-bottom: 2%;
    }
    
    .modal-window p {
        font-size: 100%;
    }

    /* Theory Chapters */

    /* Link to other sections */

    #chapters {
        margin-top: 0;
    }

    #sidebar {
        display: none;
    }

    /* Content */

    #content {
        padding: 0 10vw;
        max-width: 90%;
    }

    #content h2 {
        text-align: center;
    }

    #content h3 {
        margin-top: 2vh;
        font-size: 150%;
    }

    #content p, li {
        list-style-position: outside;
        margin-top: 2vh;
        font-size: 100%;
    }

    #content > .carousel-button {
        transform: translateX(-5vw);
    }

    table {
        margin-left: 27vw;
    }

    /* Sections Hamburger menu */

    #chapter-hamburger {
        visibility: visible;
    }

    .chapter-out {
        position: fixed;
        right: 4%;
        bottom: 5%;
        padding: 4%;
        font-size: 150%;
        z-index: 2;
        border-radius: 50%;
        background-color: var(--highlight);
    }

    .chapter-out i {
        color: var(--bg);
    }

    #chapter-hamburger h1 {
        color: var(--text-col);
        font-size: 4vw;
        text-align: center;
        margin: 5% 0;
    }

    #chapter-hamburger i {
        font-size: 200%;
    }

    #chapter-hamburger ol > li {
        display: list-item;
        list-style-position: outside;
        list-style-type: decimal-leading-zero;
        font-size: 2.5vw;
        font-weight: 900;
        margin: 10% 10%;
    }

    #chapter-hamburger a {
        color: var(--text-col);
        font-size: 3vw;
        font-weight: 400;
        text-align: justify;
        text-decoration: none;
        text-transform: capitalize;
        margin: 3% 0 3% 2%;
    }

    #chapter-hamburger .active {
        color: var(--highlight);
    } 

}

/* For small screens size from 680 px wide and down */

@media screen and (max-width: 680px) {

    /* Header */

    header {
        height: 8vh;
    }

    /* Footer */
    
    footer {
        font-size: 80%;
    }

    /* headings and logo */

    #logo {
        font-size: 80%;
    }
    
    #logo img {
        width: 15px;
        margin-bottom: 3px;
    }

    /* Navigation Menu */
    
    .computer-menu{
        display: none;
    }

    .phone-menu{
        visibility: visible;
    }

    .phone-menu i {
        font-size: 150%;
    }

    #hamburger-menu li {
        text-align: center;
        font-size: 130%;
        margin: 5% 10%;
        padding-left: 25%;
    }

    /* Home Page Section */
    
    /* Carousel */
    
    .carousel-left {
        transform: translateY(5vh);
    }
    
    .carousel-right {
        transform: translateY(45vh);
    }

    /* Carousel Media */

    #carousel-1 {
        background-position: 50% 75%;
        background-size: 90%;
    }
    
    #carousel-2 {
        background-position: 50% 10%;
        background-size: 70%;
    }
    
    #carousel-3 {
        background-position: 55% 70%;
        background-size: 80%;
    }

    /* About page */

    #about-page {
        margin-top: 0;
    }

    #about-page h2 {
        font-size: 8vw;
    }

    #about-page p {
        margin-top: 2vh;
        font-size: 3vw;
    }

    /* About Us */

    #about-us > .carousel-center {
        transform: translateY(15vh);
    }

    /* The Team */

    #team h2 {
        padding-top: 5%;
    }

    /* Circle Container and media */

    .circle-container {
        margin-top: 5%;
        width: 100px;
        height: 100px;
    }

    #team-member h3 {
        font-size: 5vw;
    }

    #team-member p {
        font-size: 3.5vw;
    }

    /* Website we Love */

    .website-button {
        font-size: 3.3vw;
        margin: 10% -20%;
    }

    /* Home Page for Theory Sections */

    .theory-hp h2 {
        font-size: 6vw;
    }

    .theory-hp  p {
        font-size: 3.5vw;
    }

    /* Theory Modal */

    .modal-out{
        font-size: 75%;
    }

    .modal-button {
        font-size: 75%;
    }

    /* Theory Modal */

    .modal-window h2 {
        font-size: 4vw;
        margin-bottom: 8%;
    }
    
    .modal-window h3 {
        font-size: 3.3vw;
        margin-bottom: 2%;
    }
    
    .modal-window p {
        font-size: 2.5vw;
        margin-bottom: 6%;
    }

    /* Chapter button */

    .theory-button {
        min-width: 0;
        width: 60vw;
        padding: 3.5vh 4vw;
        font-size: 100%;
        margin: 3vh 0;
    }

    /* Theory Chapters */

    /* Link to other sections */

    #chapters {
        margin-top: 5%;
    }

    #content {
        padding: 0% 10vw;
        max-width: 100vw;
        overflow-x: hidden;
    }

    #content h2 {
        font-size: 6vw;
    }

    #content h3 {
        font-size: 4.5vw;
    }

    #content p, li {
        font-size: 3.5vw;
    }

    #content > .carousel-button {
        width: 90%;
        transform: translateX(-20vw);
        margin-bottom: 15vh;
    }

    table {
        margin: 20% 0;
        transform: translateX(37%);
    }
    
    th, td {
        font-size: 100%;
    }

    /* Sections Hamburger menu */

    .chapter-out {
        right: 75%;
        bottom: 7%;
        font-size: 80%;
    }

    #chapter-hamburger h2 {
        font-size: 4vw;
        margin: 8% 0;
    }

    #chapter-hamburger i {
        font-size: 200%;
    }

    #chapter-hamburger ol > li {
        font-size: 3vw;
    }

    #chapter-hamburger a {
        font-size: 4vw;
    }

    #chapter-hamburger .active {
        color: var(--highlight);
    } 

}

@media screen and (max-width: 950px) and (orientation: landscape) {
        
    /* Header */

    header {
        height: 15vh;
        z-index: 2;
    }

    /* Navigation Menu */

    #hamburger-menu li {
        margin: 0 25% 0 1%;
        padding-left: 0;
    }

    /* Home Page Section */

    /* Carousel */

    .carousel-left {
        transform: translateY(7vh);
    }

    .carousel-right {
        transform: translateY(7vh);
    }

    .carousel-button {
        font-size: 100%;
        padding-top: 1.8%;
    }

    /* Carousel Media */

    #carousel-1 {
        background: none;
    }

    #carousel-2 {
        background: none;
    }

    #carousel-3 {
        background: none;
    }

    /* About page */

    #about-page h2 {
        font-size: 6vh;
    }

    #about-page p {
        margin-top: 2vw;
        font-size: 4vh;
    }

    /* About Us */

    #about-page p {
        font-size: 3vh;
    }

    /* The Team */

    /* Circle Container and media */

    .circle-container {
        margin: 5vh 4vw;
    }

    #team-member h3 {
        font-size: 4vh;
    }

    #team-member p {
        font-size: 3.3vh;
    }

    /* Website we Love */

    .website-button {
        font-size: 65%;
        max-width: 15vw;
        margin: 5vh 1vw;
        padding: 5%;
    }

    /* Home Page for Theory Sections */

    .theory-hp h2 {
        font-size: 6vh;
    }

    .theory-hp  p {
        font-size: 3.5vh;
    }   

    /* Theory Modal */

    .modal-window h2 {
        font-size: 4vh;
    }

    .modal-window h3 {
        font-size: 3.3vh;
    }

    .modal-window p {
        font-size: 2.5vh;
    }

    /* Chapter button */

    .theory-button {
        width: 60vh;
        padding: 3.5vw 4vh;
        margin: 3vw 0;
    }

    /* Theory Chapters */

    /* Link to other sections */

    #content {
        padding: 0 15vh;
    }

    #content h2 {
        font-size: 6vh;
    }

    #content h3 {
        font-size: 4.5vh;
    }

    #content p, li {
        font-size: 3.5vh;
    }

    #content > .carousel-button {
        width: 50vw;
        transform: translateX(-10vh);
        margin-bottom: 15vw;
    }

    table {
        margin: 10% 0;
        transform: translateX(85%);
    }

    /* Sections Hamburger menu */

    .chapter-out {
        padding: 2%;
        font-size: 40%;
        right: 85%;
    }

    #chapter-hamburger h1 {
        font-size: 4vh;
    }

    #chapter-hamburger ol > li {
        font-size: 3vh;
    }

    #chapter-hamburger a {
        font-size: 4vh;
    }

}

