@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: #3a3a3a;
    background-color: #fbf6ef;

    height: 100vh;
    display: grid;
    grid-template-rows: 10% auto 30px;
}

/* Header */

/* headings and logo */

h1, h2 {
    font-weight: 900;
    letter-spacing: 1px;
    color: #3a3a3a;
}

#logo {
    float: left;
    font-weight: 900;
    font-size: 110%;
    margin-left: 35px;
    text-transform: capitalize;
}

.highlight {
    color: #c05c0e;
}

#logo img {
    width: 25px;
    height: auto;
    vertical-align: middle;
    margin-bottom: 5px;
}

/* navigation links */

#menu {
    font-size: 90%;
    letter-spacing: 3px;
    margin-right: 5px;
}

#menu, #logo {
    line-height: 75px;
}

#menu ul{
    float: right;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    color: #c05c0e;
}

#menu .active {
    color: #c05c0e;
}

/* Footer */

footer {
    position:absolute;
    bottom:0;
    width:100%;
    height: 30px;   /* Height of the footer */
    background: inherit;
 }

 footer p {
     color: #748484;
     font-size: 0.8rem;
     float: right;
     margin-right: 20px;
 }

/* Home Page Section */

/* Welcome */
#home-page {
    height: 100%;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#home-page h1 {
    font-size: 300%;
}

#home-page p {
    font-size: 150%;
}

/* Carousel */

#carousel {
    height: 100%;
    overflow: scroll;
    scroll-snap-type: y mandatory;
    overflow-y: auto;
}

#carousel > div {
    min-height: 100%;
    width: 100%;
    clear: both;

    scroll-snap-align: start;
}

#carousel p {
    margin-top: 5px;
}

.carousel-button {
    margin-top: 20px;
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;

    background: #eb971c;
    border: 1px solid #eb971c;
    border-radius: 6px;
    color: #fbf6ef;

    text-decoration: none;
    font-size: 20px;
    font-weight: 900;
    line-height: 16px;
    text-align: center;
    text-transform: none;
    letter-spacing: 1px;
    
    touch-action: manipulation;
    vertical-align: middle;
}

.carousel-button:hover, .carousel-button:active {
  background-color: initial;
  background-position: 0 0;
  color: #eb971c;
}

.carousel-button:active {
  opacity: .5;
}

.carousel-left {
    width: 60%;
    float: left;
    margin: 10% 0 0 5%;
}

.carousel-right {
    width: 60%;
    float: right;
    text-align: right;
    margin: 10% 5% 0 0;
}

/* Carousel Media */

#carousel-1 {
    background: url("/assets/images/home_page.png") no-repeat;
    background-position: bottom right;
    background-size: 60%;
}

#carousel-2 {
    background: url("/assets/images/home_page_macro.png") no-repeat bottom;
    background-position: 10% bottom;
    background-size: 40%;
}

#carousel-3 {
    background: url("/assets/images/home_page_micro.png") no-repeat bottom;
    background-position: right bottom;
    background-size: 50%;
}

/* About page */

#about-page {
    height: 100%;
    width: 100%;

    overflow: hidden;
    text-align: center;
    vertical-align: middle;

    position: relative;
}

#about-page h1 {
    font-size: 300%;
}

#about-page p {
    margin-top: 5%;
    font-size: 150%;
}

.carousel-center {
    transform: translate(0%, 65%);
    margin: auto 25% auto 25%;
}

/* The Team */

/* Circle Container and media */

.circle-container {
    display: inline-block;
    width: 200px;
    height: 200px;
    padding: 10px;
    border-style: dotted;
    border-color: rgba(85, 55, 55, 0.2);
    border-width: 1px;
    border-radius: 50%;
    margin: 5% 5%;
}

#team-member h2 {
    margin-top: 15%;
    font-size: 130%;
}

#team-member p {
    margin-top: 5%;
    font-size: 130%;
    font-style: italic;
}

/* The team media */

#lorenzo {
    background: url('/assets/images/lorenzo.jpg') no-repeat center 30%;
    background-size: 100%;
    height: 100%;
    border-radius: 50%;
}

#enrico {
    background: url('/assets/images/enrico.jpeg') no-repeat center 10%;
    background-size: 150%;
    height: 100%;
    border-radius: 50%;
}

/* Website we Love */

#website-link {
    width: 100%;
    margin: 5% 0;
}

.website-button {
    width: 200px;
    font-size: 20px;
    font-weight: 900;
    color: #fbf6ef;
    letter-spacing: 1px;
    text-decoration: none;

    display: inline-block;

    padding: 20px 20px 20px;
    margin: 5%;
    outline: 0;
    border: 1px solid #3a3a3a;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    touch-action: manipulation;
  }
  
  .website-button:after {
    content: "";
    background-color: #eb971c;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
  }
  
  .website-button:hover:after {
    top: 0px;
    left: 0px;
  }

/* Home Page for Theory Sections */

#theory-home-page {
    overflow: scroll;
}

#theory-home-page h1 {
    font-size: 300%;
}

#theory-home-page p {
    margin-top: 5%;
    font-size: 120%;
    text-align: justify;
}

.theory-hp {
    margin: auto 15% auto 15%;
    text-align: center;
}

hr {
    border-top: 0.9px dashed #c05c0e ;
    margin: 3% 10%;
}

#theory-sections {
    margin: 5% 15% auto 15%;
    text-align: center;
}

.theory-button {
    margin-top: 8%;
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
    min-height: 40px;
    outline: 0;
    padding: 5% 8%;
    margin: 0 5%;

    background: #fbf6ef;
    border: 1px solid #eb971c;
    border-radius: 3px;
    color: #eb971c;

    text-decoration: none;
    font-size: 300%;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    text-transform: none;
    letter-spacing: 1px;
    
    touch-action: manipulation;
    vertical-align: middle;
}

.theory-button:hover, .theory-button:active {
  background-color: #eb971c;
  background-position: 0 0;
  color: #fbf6ef;
}

.theory-button:active {
  opacity: .5;
}